body{
    font-family: Arial;
    background-image: -webkit-image-set('sonicwallpaper.jpg');
    color:white;
    text-align:center;
}

h1{
    color:#0d09e5;
}

.perfil{
    margin-top:40px;
}

.fotoPerfil{
    width:200px;
    height:200px;
    border-radius:50%;
    border:3px solid #3700ff;
}

.container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.lista{
    width:300px;
}

.card{
    background:#1f1f1f;
    border-radius:10px;
    margin:20px;
    padding:15px;
}

.card img{
    width:100%;
    border-radius:8px;